body {
    background-color: #131316;
}

.picture {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: 60px;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    justify-content: center;
    align-items: center;
    color: #03e9f4;
    text-shadow: #2a959b;
}

.image-preview {
    border-radius: 30px;
    padding: 10px;
    position: relative;
    width: 100%;
    height: 400px;
    background-color: rgb(46, 49, 49);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: rgb(88 199 250 / 0%);
    text-align: center;
    padding-top: 30%;
    
    /* background-color: rgb(85, 90, 90); */

}

.image-preview1 {
    background: #191c29;
    /* width: var(--card-width); */
    /* height: var(--card-height); */
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
  }

.image-preview:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
    font-family: cursive;
    font-size: 20px;
  }

#preview {
    width: 100%;
    padding: auto;
}

.form-group {
    color: #03e9f4;
    font-family: cursive;

}



.file-upload-wrapper {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: rgb(46, 49, 49);
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 10px;
  }
  .file-upload-wrapper:after {
    content: attr(data-text);
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(46, 49, 49);
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: 60px;
    line-height: 40px;
    color: rgb(88 199 250 / 100%);
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
    border-radius: 10px;
    
  }
  .file-upload-wrapper:before {
    content: 'Выбрать файл';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 60px;
    background: rgb(88 199 250 / 100%);
    color: rgb(46, 49, 49);
    font-weight: 700;
    z-index: 25;
    font-size: 16px;
    line-height: 60px;
    padding: 0 15px;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
  }
  .helpforuploadwrapper:hover:before {
    background: #00f2ff;
  }
  .helpforuploadwrapper2:hover:before {
      
  }
  .file-upload-wrapper input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
    
    /* background-color: #fff; */
  }

  .helpforuploadwrapper:hover:after {
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
    transition: box-shadow 1s;
  }
  .helpforuploadwrapper2:hover:after {

  }
  
  

  
  
  #login-box {
    position: relative;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 0px;
    transform: translate(-50%, -50%);
    /* background: rgba(0,0,0,.5); */
    box-sizing: border-box;
    /* box-shadow: 0 15px 25px rgba(0,0,0,.6); */
    border-radius: 10px;
    height: 20px;

  }
  
  #login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  #login-box .user-box {
    position: relative;
  }
  
  #login-box .user-box input {
    width: 100%;
    padding: 0px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  #login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 0px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  #login-box .user-box input:focus ~ label,
  #login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  #login-box form a {
    position: relative;
    display: inline-block;
    padding: 0px 0px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  



  .openthis a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }

  .closethis a:hover {

  }

  #login-box2 a:hover {
    background: none;
    color: #03e9f4;
    border-radius: 5px;
    box-shadow: none;
  }
  
  #login-box a span {
    position: absolute;
    display: block;
  }
  
  .openthis a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .openthis a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .openthis a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .openthis a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

  .closethis a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ff0000);
    animation: btn-anim1 1s linear infinite;
  }

  .closethis a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ff0000);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }

  .closethis a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ff0000);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }

  .closethis a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ff0000);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }

  
  .custom {
    /* margin-top: 100px; */
    /* width: 100px; */
    background: none;
    margin: none;
    padding: none;
    /* size: max; */
    /* color: #fff; */
    /* background: 0; */
    border-style: none;
    height: 40px;
    width: 300px;
    position: relative;
    font-size: 20px;
  }
  .custom2 {
    /* margin-top: 100px; */
    /* width: 100px; */
    background: none;
    margin: none;
    padding: none;
    /* size: max; */
    /* color: #fff; */
    /* background: 0; */
    border-style: none;
    height: 40px;
    width: 300px;
    position: relative;
    font-size: 20px;
    color: #ff0000;
  }
  .custom:hover {
      color: #fff;
      transition: .5s;
  }


  
  .answer {
    justify-content: center;
    align-items: center;
    color: #03e9f4;
    text-shadow: #2a959b;
    position: relative;
    font-size: 40px;
    text-align: center;
    padding: 0;
    margin-top: 5%;
    /* display: table-cell; */
}


/*#item {
    display: block;
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
}*/
/*
.load-box {
    width: 65px;
    height: 65px;
    display: block;
    border-radius: 30px;
    background-color: rgb(46, 49, 49);
    padding-top: 30%;
}
*/
#item {
    justify-content: center;
    align-items: center;
    color: #03e9f4;
    text-shadow: #2a959b;
    position: relative;
    font-size: 40px;
    text-align: center;
    padding: 0;
    display: none;
    margin-top: 8%;
}



.loader {
	--color: white;
	--size-mid: 6vmin;
	--size-dot: 1.5vmin;
	--size-bar: 0.4vmin;
	--size-square: 3vmin;
	
	position: relative;    
}

.loader::before,
.loader::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
}

.loader.--6::before {
	width: var(--size-square);
	height: var(--size-square);
	background-color: var(--color);
	top: calc(50% - var(--size-square));
	left: calc(50% - var(--size-square));
	animation: loader-6 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes loader-6 {
	0%, 100% {
		transform: none;
	}
	
	25% {
		transform: translateX(100%);
	}
	
	50% {
		transform: translateX(100%) translateY(100%);
	}
	
	75% {
		transform: translateY(100%);
	}
}

/**
	loader --7
**/
.loader.--7::before,
.loader.--7::after {
	width: var(--size-square);
	height: var(--size-square);
	background-color: var(--color);
}

.loader.--7::before {
	top: calc(50% - var(--size-square));
	left: calc(50% - var(--size-square));
	animation: loader-6 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

.loader.--7::after {
	top: 50%;
	left: 50%;
	animation: loader-7 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes loader-7 {
	0%, 100% {
		transform: none;
	}
	
	25% {
		transform: translateX(-100%);
	}
	
	50% {
		transform: translateX(-100%) translateY(-100%);
	}
	
	75% {
		transform: translateY(-100%);
	}
}